$color1: #f0c030;
$color2: #f0f0f0;
$color3: #303030;
$color4: #f07818;
$color5: #487890;

$colorDark1: #001A38;
$colorDark2: #00224E;
$colorDark3: #003367;
$colorDark4: #171D20;
$colorDark5: #1E2529;
$colorDark6: #2F3133;

$lightBlue1: #00A1DF;
$lightBlue2: #007FD1;
$lightBlue3: #0256C4;
$lightBlue4: #0E37A3;
$lightBlue5: #072C8C;

// @media screen and (max-width: 576px) {}
// end of scope mobile xs

// @media screen and (min-width: 576px) {}
// end of scope mobile sm

// @media screen and (min-width: 768px) {}
// end of scope tablet md

@media screen and (min-width: 992px) {
    main {
        // height: 500vh;
        height: 400vh;

        >.first_100vh {
            height: 100vh;

            >.first_100vh_header {
                box-shadow: inset 5px 5px 22px #1a1a1a,
                    inset -5px -5px 22px #464646 !important;

                >header {
                    .first_100vh_logo {
                        box-shadow: 2px 2px 5px 1px $color4 !important;
                        transition: .4s;

                        >figure {
                            padding: 6px !important;

                            >img {
                                filter: drop-shadow(0 0 3.5px $color4) !important;
                                transition: .4s;
                            }
                        }

                        >strong {
                            top: -100px !important;
                            transition: .4s .1s;
                        }

                        &:hover {
                            box-shadow: -2px -2px 5px 1px $lightBlue3 !important;

                            >figure {
                                >img {
                                    filter: drop-shadow(0 0 3.5px $lightBlue3) !important;
                                }
                            }

                            >strong {
                                top: -10px !important;
                            }

                            ~.header_menu_desktop {
                                >ul {
                                    >li {
                                        text-shadow: 2px 2px 2px $lightBlue3;

                                        &:nth-of-type(1) {
                                            background: $lightBlue3;
                                            text-shadow: 2px 2px 2px $color3;
                                        }

                                        >a {
                                            color: $color2;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .header_menu_desktop {
                        >ul>li {
                            transition: .4s;
                            text-shadow: 2px 2px 2px $color4;

                            &:nth-of-type(1) {
                                background: $color4;
                                text-shadow: 2px 2px 2px $color3;

                                >a {
                                    transition: .4s;
                                }

                                &:hover {
                                    background: $color4;
                                    text-shadow: 2px 2px 2px $color3;

                                    >a {
                                        color: $color4;
                                        transition: .4s;
                                    }
                                }
                            }

                            >a {
                                color: $color2;

                                font: {
                                    family: 'Open Sans', Arial;
                                    size: 1.2rem;
                                    weight: 600;
                                }
                            }

                            &:hover {
                                background: $color2;
                                text-shadow: 2px 2px 2px $color3;
                            }
                        }
                    }
                }
            }

            >.site_preview_wrapper {
                height: calc(100vh - 80px);

                >.site_preview {
                    >section {
                        width: 50% !important;

                        >hgroup {
                            >h1 {
                                font-size: 3.5rem !important;
                                margin-bottom: 5px !important;
                            }

                            >h4 {
                                font-size: 1.5rem !important;
                            }

                            >h4:nth-of-type(2) {
                                text-shadow: 10px 8px 2px #3030303d !important;

                                &:hover {
                                    text-shadow: 0 0 0 $color3 !important;
                                }
                            }
                        }

                        >.skills_preview {
                            width: 100%;

                            >figure {
                                >img {
                                    transition: .4s;
                                }

                                &:hover {
                                    >img {
                                        transform: scale(.85);
                                    }
                                }
                            }
                        }

                        >.social_preview {
                            >a {
                                font-size: 1.5rem !important;
                            }
                        }
                    }

                    >.parsa_dark {
                        width: 50% !important;
                        height: initial;
                    }
                }
            }
        }

        >.second_100vh {
            height: 100vh;

            >.about_me_wrapper {
                place-items: center;
                grid-template-rows: repeat(2, 50%);
                grid-template-columns: repeat(3, calc(100% / 3));
                grid-template-areas:
                    "section1 . section2"
                    "section3 section3 section3";

                >section {
                    max-width: max-content !important;
                    min-height: min-content !important;
                    transform: scale(.8);

                    >h3 {
                        font-size: 1.5rem !important;

                        >span {
                            &::first-letter {
                                font-size: 2rem !important;
                            }
                        }
                    }

                    >p {
                        font-size: 1.3rem;
                    }
                }

                >section:nth-of-type(1) {
                    grid-area: section1;
                }

                >section:nth-of-type(2) {
                    grid-area: section2;
                }

                >section:nth-of-type(3) {
                    grid-area: section3;

                    &:hover {
                        +.parsa_who {
                            transform: translate(-50%, -75%) rotateY(180deg);
                            box-shadow: 0 0 0,
                                0 0 0;
                        }
                    }
                }

                >.parsa_who {
                    max-width: calc(433px / 2);
                    max-height: calc(433px / 2);
                    z-index: 1;
                    transform: translate(-50%, -50%);
                    transform-style: preserve-3d;
                    box-shadow: -20px 20px 60px #cccccc,
                        20px -20px 60px #ffffff;
                    transition: .4s;

                    >img {
                        object-fit: cover;
                    }
                }
            }
        }

        >.third_100vh {
            height: 100vh;

            >.skills_wrapper {
                >.skills {
                    >span {
                        width: 40% !important;

                        &::before {
                            font-size: 1rem;
                        }
                    }
                }

                >.portfolio {
                    >a {
                        width: 80%;
                        aspect-ratio: 16/9;

                        >figure {
                            &::after {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }
            }
        }

        >.fourth_100vh {
            height: 100vh;
        }
    }
}

// end of scope desktop lg

@media screen and (min-width: 1200px) {}

// end of scope xl

@media screen and (min-width: 1400px) {}

// end of scope xxl